<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Project_22;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlCommand" value="BEGIN TRY
BEGIN TRAN

DROP VIEW IF EXISTS dbo.good_category_pairs;

DROP TABLE IF EXISTS dbo.good2category;
DROP TABLE IF EXISTS dbo.good_category;
DROP TABLE IF EXISTS dbo.good;

CREATE TABLE dbo.good (
    id      INT IDENTITY (1, 1) NOT NULL,
    [name]  VARCHAR (255) DEFAULT (NULL) NULL,
    [count] INT NOT NULL,
    price   INT NOT NULL,
    CONSTRAINT good_pk_1 PRIMARY KEY CLUSTERED (id ASC),
);

CREATE TABLE dbo.good_category (
    id          INT IDENTITY (1, 1) NOT NULL,
    parent_id   INT DEFAULT (NULL) NULL,
    [name]      VARCHAR (255) NOT NULL,
    CONSTRAINT good_category_pk_1 PRIMARY KEY CLUSTERED (id ASC),
    CONSTRAINT good_category_fk_1 FOREIGN KEY (parent_id) REFERENCES dbo.good_category (id)
);

CREATE TABLE dbo.good2category (
    id          INT IDENTITY (1, 1) NOT NULL,
    good_id     INT NOT NULL,
    category_id INT NOT NULL,
    CONSTRAINT order2good_pk_1 PRIMARY KEY CLUSTERED (id ASC),
    CONSTRAINT order2good_fk_1 FOREIGN KEY (good_id) REFERENCES dbo.good (id),
    CONSTRAINT order2good_fk_2 FOREIGN KEY (category_id) REFERENCES dbo.good_category (id)
);

INSERT INTO dbo.good 
    ([name], [count], price)
VALUES 
    (N'Ice tea «Juicy mango»',                  288,    157),
    (N'«Orange boost»',                         326,    188),
    (N'«Cherry in chocolate»',                  194,    201),
    (N'Ice tea «Fig peach»',                    392,    157),
    (N'«Strawberry marshmallow»',               189,    201),
    (N'«Cinnamon vanilla bun»',                 151,    188),
    (N'Ice tea «Chocolate morning»',            95,     174),
    (N'«Lemon tree»',                           415,    174),
    (N'«Plum garden»',                          277,    162),
    (N'Herbal set «Tibetan treatment»',         238,    186),
    (N'Herbal set «Chamomile bouquet»',         340,    161),
    (N'Herbal set «Lime and melissa»',          190,    243),
    (N'«Sea buckthorn»',                        269,    243),
    (N'Ice tea «Blueberry Provence»',           255,    157),
    (N'Herbal set «Mint night»',                204,    198),
    (N'Herbal set «Detox time»',                346,    173),
    (N'«Honey mulled wine»',                    316,    192),
    (N'Ice tea «Flaming grapefruit»',           188,    157),
    (N'Ice tea «Caramel apple»',                154,    157),
    (N'Herbal set «Lavender field flowers»',    300,    224),
    (N'«Immunobalance»',                        182,    170),
    (N'«Chinese Sencha»',                       158,    201),
    (N'«Mom''s tea»',                           230,    154),
    (N'«Darjeeling Jiel»',                      201,    256),
    (N'«Girls love raspberries»',               177,    213),
    (N'«Tatar tea»',                            242,    183),
    (N'«Night city lights»',                    345,    200),
    (N'«Linden blossom»',                       268,    196);

INSERT INTO dbo.good_category
    (parent_id, [name])
VALUES
    (NULL,  N'DESSERT'),
    (1,     N'Fruit'),
    (1,     N'Chocolate'),
    (1,     N'Confectionery'),
    (1,     N'Berry'),
    (1,     N'Citrus'),
    (NULL,  N'HERBAL'),
    (7,     N'Soothing'),
    (7,     N'Tonic'),
    (7,     N'Laxative'),
    (7,     N'Detox'),
    (7,     N'Healing');

INSERT INTO dbo.good2category
    (good_id, category_id)
VALUES
    (1,     2),
    (2,     6),
    (2,     9),
    (3,     3),
    (3,     5),
    (4,     2),
    (5,     4),
    (5,     5),
    (6,     4),
    (7,     3),
    (7,     9),
    (8,     6),
    (8,     9),
    (8,     12),
    (9,     2),
    (9,     10),
    (10,    10),
    (10,    11),
    (11,    8),
    (11,    12),
    (12,    6),
    (12,    9),
    (12,    11),
    (12,    12),
    (13,    5),
    (13,    8),
    (13,    12),
    (14,    5),
    (15,    8),
    (16,    11),
    (17,    12),
    (17,    9),
    (18,    6),
    (18,    9),
    (19,    2),
    (19,    4),
    (20,    8),
    (20,    11);

END TRY
BEGIN CATCH
    ROLLBACK TRANSACTION
    SELECT 
        ERROR_NUMBER() AS Error,
        ERROR_MESSAGE() AS [Message]
    RETURN
END CATCH
COMMIT TRAN

EXEC('CREATE VIEW dbo.good_category_pairs
AS
SELECT 
    g.[name],
    g2cp.category_name,
    g2cp.parent_category_name 
FROM dbo.good g
LEFT JOIN(
    SELECT 
        g2c.good_id,
        gc.[name] category_name,
        gcp.[name] parent_category_name
    FROM dbo.good2category g2c
    JOIN dbo.good_category gc
        ON g2c.category_id = gc.id
    JOIN dbo.good_category gcp
        ON gc.parent_id = gcp.id
) g2cp
ON g.id = g2cp.good_id;'); 

SELECT
    ROW_NUMBER() OVER(ORDER BY [name]) #,
    [name] Tea,
	CASE 
		WHEN category_name IS NOT NULL
        THEN category_name ELSE ''
	END Category,
	CASE 
		WHEN parent_category_name IS NOT NULL
        THEN parent_category_name ELSE ''
	END [Type]
FROM dbo.good_category_pairs;
"/>

  </appSettings>
</configuration>
